BOT_TOKEN=8965546508:AAFG-X2klqdXpBqiHUutIuSt9x713J4Hdkg
GROG_API_KEY=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
GROG_MODEL=grog-2-latest
DATABASE_URL=сюда_даст_Render_автоматом
ADMIN_ID=7088164367
PORT=10000
